@import url('https://fonts.googleapis.com/css2?family=Inter&family=Pacifico&family=Roboto:ital@1&display=swap');
:root{
    font-size:16px;
    font-family: Inter, sans-serif;
    --black: #000500;
    --french-gray: #ACADBC;
    --cool-gray:#9B9ECE;
    --slate-blue:#6665DD;
    --palatinate-blue:#473BF0;
}

h2{
    margin:0;
}
::placeholder{
    color:slateblue;
}
body{
    margin:0 ;
}

.navBar{
    background-color: slateblue;
    color:white;
    padding: 0;
    width: 4rem;
    height:100%;
    position: fixed;
    align-items: center;
    transition: width 200ms ease-out;
    z-index:2;
}

#navBarTitle{
    font-size: 2rem;
    transform: translate(-.5rem, 0);
}

#navBarTitleText{
    transform: translate(-.5rem, 0);
}

.linkText{
    display:none;
    padding:.5rem 1.5rem;
    color:var(--french-gray);
}
.navBarNav{
    height: 100%;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    padding:0;
    align-items: center;
    margin:0;
    width:4rem;
}


/*ON HOVERRRR*/
.navBar:hover{
    width:16rem;
}

.navBar:hover .linkText{
    display:inline;
}
.navBar:hover #navBarTitle{
    justify-content: left;
}

/*ON HOVERRR*/


.navItem{
    align-self:center;
}

.navLink{
    display:flex;
    width:1rem;
    height:1rem;
    padding: 1rem;
    align-items: center;
    transition: 300ms;
    margin:0rem;
}

a{
    text-decoration: none;
}

#settings{
    margin-top: auto;
}

.main{
    display:grid;
    width:auto;
    margin:0 0 0 4rem;
    box-shadow: 0rem 0.3rem .5rem var(--french-gray);
}

.header{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap:1rem;
    margin:.5rem 2rem 1.5rem 2rem;
}

.searchBarDiv{
    grid-area: 1/1/2/3;
    display:grid;
    justify-items: center;
    align-items: center;
    padding:0rem 1.5rem;
}

#searchBar{
    background-color:var(--french-gray);
    color:#000500;
    border-style:solid;
    border-right-color: #473BF0;
    border-left-color:#473BF0;
    border-top-color: transparent;
    border-bottom-color: transparent;
    width:100%;
    height:60%;
    border-radius: 1rem;
    font-size: 1.25rem;
}

.topRightActions{
    display:grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
}
.profile{
    border-radius:50%;
    background-color:black;
    height:2rem;
    width:2rem;
}

.welcome{
    display:grid;
    grid-auto-flow:column;
    grid-column: 1/3;
    grid-template-columns: 1fr 7fr;
    justify-items: center;
    align-items: center;
}

#biggerProfile{
    height:4rem;
    width:4rem;
}

.welcomeText{
    justify-self: left;
}
.actionButtons{
    display:grid;
    grid-auto-flow: column;
    align-items: center;
}

button{
    margin:1rem;
    height:2rem;
    border-radius:1rem;
    background-color:var(--palatinate-blue);
    color:white;
    border-color:transparent;
}